	#one{
		text-align: center;
		color: green;
		padding-bottom: 30px;
		padding-right: 400px;
		padding-top: 20px;

	}
	h1{
		padding-bottom: 10px; 
	
padding-left: 400px;}
body{
	border:10 double red;
}