h1{
	text-transform: uppercase;
	text-align: center;
	word-spacing: 10px;
	padding-top: 10px;
color: #ff4455;
}
p{
	font-size: 25px;
	padding-left: 30px; 
	text-transform: uppercase;
	padding-left: 100px; 
	

}
div{
	border: 2px green ridge;
	padding-left: 20px;
	margin: auto;
	width: 10px;
	border-left: 100px;
}
#btn{
	font-size: 45px;
}
